.works{
    padding: 58px 0 74px;
}

.works__container{
    width: 100%;
}

.works__title{
    width: 100%;
    max-width: 940px;
    
    margin: 0 auto 65px;
    
    padding: 0 10px;
    
    display: flex;
    justify-content: space-between;
    
    h2{
        font-size: 22px;
        color: #413D4B;
        
        text-transform: uppercase;
        
    }
}

.works__link{
    
    align-self: center;
    a{
        font-weight: 300;
        color: #413D4B;
        
        img{
            margin: 0 0 0 9px;
        }
        
        &:after{
            
            display: block;
            content: '';
            width: 0px;
            height: 1px;
            background-color: #000;
            
            margin: 3px 0 0;
            
            transition: width .1s linear;
        }
        
        &:hover{
            
            &:after{
                width: 147px;
            }
        }
        
    }
}

.works__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0 0 68px;
}

.work{
    flex: 1 0 16.6666666666%;
    
    min-width: 266px;
    min-height: 200px;

    
    a{
        display: block;
        width: 100%;
        height: 100%;
        
        background-color: grey;

        border: 1px solid #000;
        
        transition: .2s linear;
        
        &:hover{
            opacity: 1;
            transform: scale(1.1);
        }
    }
    
    
}

.works__btn{
    margin: 0 auto;
}


